@import 'src/fonts/font.css';

:root {
	--main-purple: #6200EE;
	--medium-dark-purple: #420C88;
	--dark-grey: #272727;
	--main-radius: 6px;
	--light-purple: #D0BAEE;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

* {transition: 0.3s ease-in-out; font-family: "Montserrat", serif;}
button:focus {outline: none;}
input:focus {outline: none;}
textarea:focus {outline: none;}
ul, li {padding: 0;margin: 0;list-style: none;}


::-webkit-scrollbar {background: rgba(255, 255, 255, 1); width: 7px;}
::-webkit-scrollbar-thumb {background: var(--light-purple); border-radius: 0px;}
::-webkit-scrollbar-track-piece {background: transparent;}

#main-block {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	background: transparent;
	text-align: center;
	border: 2px solid transparent;
	width: 85%;
}

#main-header-block > div:nth-of-type(1) {
	font-size: 20pt;
	letter-spacing: 1.5px;
	color: var(--medium-dark-purple);
	font-weight: bold;
}

#main-search-input {
	background-color: white;
	color: var(--dark-grey);
	padding: 8px;
	width: 400px;
	font-size: 14pt;
	letter-spacing: 1px;
	border: 2px solid var(--main-purple);
	border-radius: var(--main-radius);
}

#main-content-block {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 14px;
	margin-top: 70px;
}

#main-content-block > div {
	margin-bottom: 50px;
	display: block;
}
#main-content-block > div > a {
	text-decoration: none;
	font-size: 20pt;
	letter-spacing: 0.5px;
	color: var(--medium-dark-purple);
	font-weight: bold;
}
#main-content-block > div > a:visited {color: var(--medium-dark-purple)}
#main-content-block > div > p {
	font-size: 15pt;
	color: var(--dark-grey);
}
#main-content-block > div > ul {
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#main-content-block > div > ul > li {
	border: 2px solid var(--light-purple);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: var(--main-radius);
	background-color: var(--light-purple);
	color: var(--medium-dark-purple);
	letter-spacing: 0.5px;
	margin-right: 10px;
	margin-bottom: 8px;
	user-select: none;
	white-space: nowrap;

}

