@media screen and (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {background-color: var(--dark-body-color); }
  ::-webkit-scrollbar-thumb {background-color: #757575; }

  body { background-color: var(--dark-body-color); }
  hr { border: 1px solid var(--dark-grey); }

  #main-search-input {
    background-color: var(--dark-body-color);
    color: var(--dark-medium-purple);
    border: 2px solid var(--dark-medium-purple);
    border-radius: var(--search-input-border-radius);
  }

  #main-header-block > div:nth-of-type(1) { color: var(--dark-medium-purple); }

  #app-title { color: var(--light-purple); }
  #app-title::selection { background-color: white; color: var(--medium-dark-purple); }

  #app-links > a { border: 2px solid #c0c0c0; background-color: transparent; color: #c0c0c0; }
  #app-links > a:hover {
    border: 2px solid var(--lightest-purple);
    background-color: var(--lightest-purple);
    color: var(--medium-dark-purple);
  }

  #main-content-block > div > p::selection { background-color: white; color: var(--medium-dark-purple); }
  #main-content-block > div > p { color: #757575; }


  #tags-block > div,
  #main-content-block > div > ul > li,
  #content-length {
    border: 2px solid var(--medium-dark-purple);
    background-color: var(--medium-dark-purple);
    color: #c0c0c0;
  }
  #tags-block > div:hover,
  #main-content-block > div > ul > li:hover,
  #content-length:hover {
    border: 2px solid var(--light-purple);
    background-color: var(--light-purple);
    color: var(--medium-dark-purple);
  }
}